@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>

<p>
    At FeriasApp, we value your privacy and are committed to protecting your personal data. This Privacy Policy describes how we collect, use and protect the information we collect through our website.
</p>
<h3>
    Information gathering
</h3>
   
<h3>
    We may collect personal information in a number of ways, including, but not limited to:
</h3>
 
<p>
    Information you provide directly to us, such as your name, email address, mailing address, and telephone number.
    Information we collect automatically, such as your IP address, browser information, and cookie data.
    Information we obtain from other sources, such as social networks or third party service providers.
    Use of Information
</p>

<h3
    >We may use the personal information we collect for the following purposes:
</h3>
    
<p>
    Provide and maintain our website and services.
    Personalize and improve your experience on our website.
    Communicate with you and respond to your requests and questions.
    Send promotional information about our products and services, as long as you have given your consent to receive this type of communication.
    Disclosure of Information
</p>

<h3>
    We may share your personal information with third parties in the following circumstances:
</h3>
    
<p>
    If it is necessary to provide a service or fulfill a request you have made.
    If necessary to comply with a legal obligation or protect our legal rights.
    If necessary to protect the security of our website or prevent illegal activities.
    Information Protection
</p>

<p>
    We are committed to protecting the personal information we collect and use. We have implemented technical, administrative, and physical security measures to protect against the loss, misuse, and misuse of the personal information we collect.
</p>

<p>
    Privacy Policy Changes
</p>

<p>
    We may update this Privacy Policy from time to time to reflect changes in our privacy practices. If we make material changes, we notify you by email or by a prominent notice on our website.
</p>

<p>
    contact
</p>

<p>
    If you have questions or concerns about this Privacy Policy, please contact us at feriasapp@FeriasApp.app
</p>

<p>
    <a href="https://blogs.motiondevelopment.top/articles/AsKtGqOjOw">Last update: 28/02/2023.</a>
</p>  
    




